@media (prefers-color-scheme: light) {
  html { 
      --text-color: #0f172a;  
      --text-color-muted: #16223c;  
      --text-color-alt: #0f172a;   
      --bg-color: #ffffff;  
      --bg-color-dark: #dddddd;  
      --bg-color-light: #eeeeee;  
      --accent-color: #fbbf24;
      --accent-color-alt: #f59e0b;
  }
}

@media (prefers-color-scheme: dark) {
  html { 
      --text-color: #FFFFFF; 
      --text-color-muted: #e2e8f0;  
      --text-color-code: #cbd5e1;   
      --text-color-alt: #f1f5f9;   
      --bg-color: #0f172a; 
      --bg-color-dark: #0b101e; 
      --bg-color-light: #1e293b; 
      --accent-color: #fbbf24;
      --accent-color-alt: #f59e0b;
  }
}


html {
  background: var(--bg-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

div#header, header
{
/* Put border on bottom. Separates it from TOC or body that comes after it. */
border-bottom: 1px solid var(--text-color-muted);
margin-bottom: 0.5em;
}

.title /* Pandoc title header (h1.title) */
{
text-align: center;
}

.author, .date /* Pandoc author(s) and date headers (h2.author and h3.date) */
{
text-align: center;
}

/* Pandoc table of contents DIV when using the --toc option.
NOTE: this doesn't support Pandoc's --id-prefix option for #TOC and #header. 
Probably would need to use div[id$='TOC'] and div[id$='header'] as selectors.
*/

div#TOC, nav#TOC
{
/* Put border on bottom to separate it from body. */
border-bottom: 1px solid var(--text-color-muted);
margin-bottom: 0.8em;
}

@media print
{
div#TOC, nav#TOC
    {
    /* Don't display TOC in print */
    display: none;
    }
}

/* ---- Body ---- */

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color-muted);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.8;
  word-wrap: break-word;
  margin: 1em 2em;
  font-weight: 300;
}

/* ---- Headers and sections ---- */

h1, h2, h3, h4, h5, h6
{
/* font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Calibri, Arial, sans-serif; /* Sans-serif headers */ */
/* font-family: "Liberation Serif", "Georgia", "Times New Roman", serif; /* Serif headers */
page-break-after: avoid; /* Firefox, Chrome, and Safari do not support the property value "avoid" */
color: var(--text-color);
font-weight: 900;
}

h1, h2 
{
padding-bottom: 0.2em;
letter-spacing: 1px;
}

h1 {
border-bottom: 8px solid var(--bg-color-light);
border-radius: 3px;
font-size: 1.8em !important; 
font-weight: 900;
} 

h2 {
border-bottom: 5px solid var(--bg-color-light);
border-radius: 3px;
font-size: 1.6em !important;
font-weight: 900;
}

h3 {
font-size: 1.4em !important;
font-weight: 600;
color: var(--text-color-muted);
}

h4 {
font-size: 1.2em !important;
margin-bottom: 0.5em;
font-weight: 600;
color: var(--text-color-muted);
}

h5 {
font-size: 1.1em !important;
margin-bottom: 0.8em;
font-weight: 600;
color: var(--text-color-muted);
}

h6 {
font-size: 1em !important; 
margin-bottom: 0.5em;
font-weight: 500;
}

/* Pandoc with --section-divs option */

div div, section section /* Nested sections */
{
margin-left: 1em; /* This will increasingly indent nested header sections */
}

p {}

blockquote
{ 
font-style: italic;
}

li /* All list items */
{
}

li > p /* Loosely spaced list item */
{
margin-top: .5em; /* IE: lack of space above a <li> when the item is inside a <p> */
}

ul /* Whole unordered list */
{
  padding: 0px 0px 0px 2rem;
}

ul li /* Unordered list item */
{
}

ol /* Whole ordered list */
{
}

ol li /* Ordered list item */
{
}

hr {
margin-top: 2em; 
margin-bottom: 1em;
border: 8px solid var(--bg-color-light);
border-radius: 3px;
}

/* ---- Some span elements --- */

sub /* Subscripts. Pandoc: H~2~O */
{
}

sup /* Superscripts. Pandoc: The 2^nd^ try. */
{
}

em /* Emphasis. Markdown: *emphasis* or _emphasis_ */
{
}

em > em /* Emphasis within emphasis: *This is all *emphasized* except that* */
{
font-style: normal;
}

strong /* Markdown **strong** or __strong__ */
{
}

/* ---- Links (anchors) ---- */

a /* All links */
{
/* Keep links clean. On screen, they are colored; in print, they do nothing anyway. */
text-decoration: none;
color: var(--accent-color);
}

@media screen
{
a:hover
    {
    /* On hover, we indicate a bit more that it is a link. */
    text-decoration: underline;
    color: var(--accent-color-alt);
    }
}

@media print
{
a   {
    /* In print, a colored link is useless, so un-style it. */
    color: black;
    background: transparent;
    }
    
a[href^="http://"]:after, a[href^="https://"]:after
    {
    /* However, links that go somewhere else, might be useful to the reader,
       so for http and https links, print the URL after what was the link 
       text in parens
    */
    content: " (" attr(href) ") ";
    font-size: 90%;
    }
}

/* ---- Images ---- */

img
{
/* Let it be inline left/right where it wants to be, but verticality make 
   it in the middle to look nicer, but opinions differ, and if in a multi-line 
   paragraph, it might not be so great. 
*/
vertical-align: middle;
max-width: 100%;
}

div.figure /* Pandoc figure-style image */
{
/* Center the image and caption */
margin-left: auto;
margin-right: auto;
text-align: center;
font-style: italic;
max-width: 100%
}

p.caption /* Pandoc figure-style caption within div.figure */
{
/* Inherits div.figure props by default */
}

/* ---- Code blocks and spans ---- */

pre, code 
{
margin-top: 1em;
margin-bottom: 1em;
background-color: var(--bg-color-dark);
background: var(--bg-color-dark);
color: var(--text-color-code);
font-size: 92%;
line-height: 1.2;
font-weight: 200;
/* BEGIN word wrap */
/* Need all the following to word wrap instead of scroll box */
/* This will override the overflow:auto if present */
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
/* END word wrap */
}

pre /* Code blocks */
{
/* Distinguish pre blocks from other text by more than the font with a background tint. */
padding: 1.4em 1.4em; /* Since we have a background color */
border-radius: 19px; /* Softens it */
/* Give it a some definition */
/* border: 1px solid var(--text-color-muted); */
/* Set it off left and right, seems to look a bit nicer when we have a background */
margin-left:  0em;
margin-right: 0em;
}

@media screen
{
pre
    {
    /* On screen, use an auto scroll box for long lines, unless word-wrap is enabled */
    white-space: pre;
    overflow: auto;
    /* Dotted looks better on screen and solid seems to print better. */
    border: 1px solid var(--bg-color-dark);
    }
}

code /* All inline code spans */
{
}

p > code, li > code /* Code spans in paragraphs and tight lists */
{
/* Pad a little from adjacent text */
padding-left:  2px;
padding-right: 2px;
}

li > p code /* Code span in a loose list */
{
/* We have room for some more background color above and below */
padding: 0px;
}

/* ---- Math ---- */

span.math /* Pandoc inline math default and --jsmath inline math */
{
/* Tried font-style:italic here, and it messed up MathJax rendering in some browsers. Maybe don't mess with at all. */
}

div.math /* Pandoc --jsmath display math */
{
}

span.LaTeX /* Pandoc --latexmathml math */
{
} 

eq /* Pandoc --gladtex math */
{
} 

/* ---- Tables ---- */

/*  A clean textbook-like style with horizontal lines above and below and under 
the header. Rows highlight on hover to help scanning the table on screen.
*/

table
{
border-collapse: collapse;
border-spacing: 0; /* IE 6 */

border-bottom: 2pt solid var(--bg-color-dark);
border-top: 2pt solid var(--bg-color-dark); /* The caption on top will not have a bottom-border */

/* Center */
/*margin-left: auto;
margin-right: auto;*/
}

thead /* Entire table header */
{
border-bottom: 1pt solid var(--bg-color-dark);
background-color: #eee; /* Does this BG print well? */
}

tr.header /* Each header row */
{
} 

tbody /* Entire table  body */
{
}

/* Table body rows */

tr  {
}
tr.odd:hover, tr.even:hover /* Use .odd and .even classes to avoid styling rows in other tables */
{
background-color: #eee;
}

/* Odd and even rows */
tr.odd {}
tr.even {}

td, th /* Table cells and table header cells */
{ 
vertical-align: top; /* Word */
vertical-align: baseline; /* Others */
padding-left:   0.5em;
padding-right:  0.5em;
padding-top:    0.2em;
padding-bottom: 0.2em;
}

/* Removes padding on left and right of table for a tight look. Good if thead has no background color*/
/*
tr td:last-child, tr th:last-child
{
padding-right: 0;
}
tr td:first-child, tr th:first-child 
{
padding-left: 0;
}
*/

th /* Table header cells */
{
font-weight: bold; 
}

tfoot /* Table footer (what appears here if caption is on top?) */
{
}

caption /* This is for a table caption tag, not the p.caption Pandoc uses in a div.figure */
{
caption-side: top;
border: none;
font-size: 0.9em;
font-style: italic;
text-align: center;
margin-bottom: 0.3em; /* Good for when on top */
padding-bottom: 0.2em;
}

/* ---- Definition lists ---- */

dl /* The whole list */
{
border-top: 2pt solid var(--bg-color-dark);
padding-top: 0.5em;
border-bottom: 2pt solid var(--bg-color-dark);
}

dt /* Definition term */
{
font-weight: medium;
}

dd+dt /* 2nd or greater term in the list */
{
border-top: 1pt solid var(--bg-color-dark);
padding-top: 0.5em;
}

dd /* A definition */
{
margin-bottom: 0.5em;
}

dd+dd /* 2nd or greater definition of a term */
{
border-top: 1px solid var(--bg-color-dark); /* To separate multiple definitions */
}

/* ---- Footnotes ---- */

a.footnote, a.footnoteRef { /* Pandoc, MultiMarkdown footnote links */
font-size: small; 
vertical-align: text-top;
}

a[href^="#fnref"], a.reversefootnote /* Pandoc, MultiMarkdown, ?? footnote back links */
{
}

@media print
{
a[href^="#fnref"], a.reversefootnote /* Pandoc, MultiMarkdown */
    {
    /* Don't display these at all in print since the arrow is only something to click on */
    display: none;
    }
}

div.footnotes /* Pandoc footnotes div at end of the document */
{
}

div.footnotes li[id^="fn"] /* A footnote item within that div */
{
}

/* You can class stuff as "noprint" to not print. 
Useful since you can't set this media conditional inside an HTML element's 
style attribute (I think), and you don't want to make another stylesheet that 
imports this one and adds a class just to do this.
*/

@media print
{
.noprint
    {
    display:none;
    }
}